.map {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.circle {
    position: absolute;
    width: 200px;
    background: rgba(0,0,0,.2);
    height: 200px;
    z-index: 1;
    border-radius: 50%;
    border: 5px solid #f73812;
}

.invitation {
    color: #6599d7;
    font-size: 2em;
}

.map img {
    position: relative;
    width: 100%;
}

#lunch-button {
    margin-bottom: 50px;
}

.pools {
    padding: 0 10px;
}

.pools button {
    margin-right: 10px;
    margin-bottom: 10px;
}

.pools button svg {
    height: .8em;
}