.lunch-result {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #3f51b5;
    z-index: -1;
    color: #fff;

}

.lunch-result > h2 {
    text-align: center;
    margin-top: 40px;
}

.lunch-result p {
    text-align: center;
}