.lunch-result {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
}

.lunch-result > h2 {
    text-align: center;
    margin-top: 40px;
}

.lunch-result p {
    text-align: center;
}

.lunch-result span {
    color: #fff;
    font-weight: bold;
}

.lunch-result .selectedMap {
    width: 100%;
}