.logo-wrapper {
    display: flex;
    width: 100%;
}

.logo-wrapper > img {
    max-height: 45px;
    margin: 10px;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile img {
    height: 55px;
    margin-left: 15px;
}